{
    "enable": true,
    "env": [
        {
            "SCRIPT_TOOLBOX_ROOT": "C:/path/to/script-toolbox"
        },
        {
            "var": "PYTHONPATH",
            "value": "$SCRIPT_TOOLBOX_ROOT/scripts",
            "method": "prepend"
        }
    ]
}
